body {
	margin: 20px;
	font: 1.5em/1.2 consolas,sans-serif;
	color:#222;
	text-align: center;
	background-color: #333;
}

figure {
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}

figcaption {
	text-align: left;
	font-weight: bold;
}

video, canvas {
	width: 480px;
	height: 360px;
	background-color: #999;
}

canvas {
	image-rendering: pixelated;
}